
.asmitaSprite{
	
	height:107px;
	width:141px;
	
	background-image:url(img/asmitaSprite.jpg)
}
.asmitaSprite:hover{cursor:pointer;}

.navback a.activelink .home{
	background-position:1045px 115px;
}

.home{
	background-position:1046px 236px;
}

.home:hover{
	background-position:1045px 115px;
}

.navback a.activelink .aboutus{
background-position:884px 115px;
}

.aboutus{
	background-position:881px 236px;
}
.aboutus:hover{
	background-position:884px 115px;
}

.navback a.activelink .gallery{
		background-position:730px 115px;;
}
.gallery
{
	background-position:730px 236px;
}
.gallery:hover{
	background-position:730px 115px;
}


.navback a.activelink .contactus{
background-position:600px 112px;
}
.contactus{
	background-position:600px 236px;
}
.contactus:hover{
	background-position:600px 112px;
}


.navback a.activelink .events{
background-position:463px 115px;
}
.events{
	background-position:483px 236px;
}
.events:hover{
	background-position:463px 115px;
}

.navback a.activelink .sports{
background-position:359px 115px;
}
.sports{
	background-position:359px 236px;
}
.sports:hover{
	background-position:359px 115px;
}



.navback a.activelink .forum{
		background-position:255px 115px;
}

.forum{
	background-position:255px 236px;
}
.forum:hover{
	background-position:258px 115px;
}



.navback a.activelink .members{
	background-position:142px 115px;
}

.members{
	background-position:145px 236px;
}
.members:hover{
	background-position:142px 115px;
}